.vs/
packages/
RecaptchaV3/bin/
RecaptchaV3/obj/
RecaptchaV3/config/
RecaptchaV3/Umbraco/
RecaptchaV3/Views/Web.config
RecaptchaV3/Views/Partials/Grid/Editors/Textstring.cshtml
RecaptchaV3/Views/Partials/Grid/Editors/Rte.cshtml
RecaptchaV3/Views/Partials/Grid/Editors/Media.cshtml
RecaptchaV3/Views/Partials/Grid/Editors/Macro.cshtml
RecaptchaV3/Views/Partials/Grid/Editors/Embed.cshtml
RecaptchaV3/Views/Partials/Grid/Editors/Base.cshtml
RecaptchaV3/Views/Partials/Grid/Bootstrap3.cshtml
RecaptchaV3/Views/Partials/Grid/Bootstrap3-Fluid.cshtml
RecaptchaV3/Properties/AssemblyInfo.cs
RecaptchaV3/Media/Web.config
RecaptchaV3/Global.asax
RecaptchaV3/App_Plugins/ModelsBuilder/package.manifest
RecaptchaV3/App_Plugins/ModelsBuilder/modelsbuilder.resource.js
RecaptchaV3/App_Plugins/ModelsBuilder/modelsbuilder.html
RecaptchaV3/App_Plugins/ModelsBuilder/modelsbuilder.controller.js
RecaptchaV3/App_Data/
RecaptchaV3/App_Plugins/UmbracoForms/Images/succes-green.png
RecaptchaV3/App_Plugins/UmbracoForms/Images/recaptcha2.png
RecaptchaV3/App_Plugins/UmbracoForms/Images/recaptcha.png
RecaptchaV3/App_Plugins/UmbracoForms/Images/close.png
RecaptchaV3/App_Plugins/UmbracoForms/Fonts/icomoon.woff
RecaptchaV3/App_Plugins/UmbracoForms/Fonts/icomoon.ttf
RecaptchaV3/App_Plugins/UmbracoForms/Fonts/icomoon.svg
RecaptchaV3/App_Plugins/UmbracoForms/Fonts/icomoon.eot
RecaptchaV3/App_Plugins/UmbracoForms/Directives/umb-forms-render-type.html
RecaptchaV3/App_Plugins/UmbracoForms/Directives/umb-forms-regexpicker.html
RecaptchaV3/App_Plugins/UmbracoForms/Directives/umb-forms-prevalue-editor.html
RecaptchaV3/App_Plugins/UmbracoForms/Directives/umb-forms-legacy-content-picker.html
RecaptchaV3/App_Plugins/UmbracoForms/Directives/umb-forms-inline-prevalue-editor.html
RecaptchaV3/App_Plugins/UmbracoForms/Directives/umb-forms-entry-detail.html
RecaptchaV3/App_Plugins/UmbracoForms/Directives/umb-forms-designer-new.html
RecaptchaV3/App_Plugins/UmbracoForms/Directives/umb-forms-content-picker.html
RecaptchaV3/App_Plugins/UmbracoForms/Backoffice/Form/dialogs/formsettings.html
RecaptchaV3/App_Plugins/UmbracoForms/Backoffice/Form/dialogs/fieldsettings.html
RecaptchaV3/App_Plugins/UmbracoForms/Backoffice/Form/dialogs/fieldsetsettings.html
RecaptchaV3/App_Plugins/UmbracoForms/Backoffice/Form/dialogs/entriessettings.html
RecaptchaV3/App_Plugins/UmbracoForms/Backoffice/Form/dialogs/entriesdetail.html
RecaptchaV3/App_Plugins/UmbracoForms/Backoffice/Form/dialogs/additem.html
RecaptchaV3/App_Plugins/UmbracoForms/Backoffice/Form/delete.html
RecaptchaV3/App_Plugins/UmbracoForms/Backoffice/Form/create.html
RecaptchaV3/App_Plugins/UmbracoForms/Backoffice/Form/copy.html
RecaptchaV3/App_Plugins/UmbracoForms/Backoffice/DataSource/edit.html
RecaptchaV3/App_Plugins/UmbracoForms/Backoffice/DataSource/dialogs/wizard.html
RecaptchaV3/App_Plugins/UmbracoForms/Backoffice/DataSource/delete.html
RecaptchaV3/App_Plugins/UmbracoForms/Backoffice/Dashboards/forms.html
RecaptchaV3/App_Plugins/UmbracoForms/Backoffice/Common/SettingTypes/textstring.html
RecaptchaV3/App_Plugins/UmbracoForms/Backoffice/Common/SettingTypes/textfield.html
RecaptchaV3/App_Plugins/UmbracoForms/Backoffice/Common/SettingTypes/textarea.html
RecaptchaV3/App_Plugins/UmbracoForms/Backoffice/Common/SettingTypes/pickers.documenttype.html
RecaptchaV3/App_Plugins/UmbracoForms/Backoffice/Common/SettingTypes/pickers.datatype.html
RecaptchaV3/App_Plugins/UmbracoForms/Backoffice/Common/SettingTypes/pickers.contentwithxpath.html
RecaptchaV3/App_Plugins/UmbracoForms/Backoffice/Common/SettingTypes/pickers.content.html
RecaptchaV3/App_Plugins/UmbracoForms/Backoffice/Common/SettingTypes/pickers.connectionstring.html
RecaptchaV3/App_Plugins/UmbracoForms/lang/it-IT.xml
RecaptchaV3/App_Plugins/UmbracoForms/lang/he-IL.xml
RecaptchaV3/App_Plugins/UmbracoForms/lang/fr-FR.xml
RecaptchaV3/App_Plugins/UmbracoForms/lang/es-ES.xml
RecaptchaV3/App_Plugins/UmbracoForms/lang/en-US.xml
RecaptchaV3/App_Plugins/UmbracoForms/lang/en-GB.xml
RecaptchaV3/App_Plugins/UmbracoForms/lang/de-DE.xml
RecaptchaV3/App_Plugins/UmbracoForms/lang/da-DK.xml
RecaptchaV3/App_Plugins/UmbracoForms/lang/cs-CZ.xml
RecaptchaV3/App_Plugins/UmbracoForms/js/umbraco.forms.js
RecaptchaV3/App_Plugins/UmbracoForms/RazorTemplates/HtmlTable.cshtml
RecaptchaV3/App_Plugins/UmbracoForms/Images/workflows/slack/icon.svg
RecaptchaV3/App_Plugins/UmbracoForms/Backoffice/Common/SettingTypes/password.html
RecaptchaV3/App_Plugins/UmbracoForms/Backoffice/Common/SettingTypes/file.html
RecaptchaV3/App_Plugins/UmbracoForms/Backoffice/Common/SettingTypes/file-upload.html
RecaptchaV3/App_Plugins/UmbracoForms/Backoffice/Common/SettingTypes/fieldmapper.html
RecaptchaV3/App_Plugins/UmbracoForms/Backoffice/Common/SettingTypes/emailtemplatepicker.html
RecaptchaV3/App_Plugins/UmbracoForms/Backoffice/Common/SettingTypes/dropdownlist.html
RecaptchaV3/App_Plugins/UmbracoForms/Backoffice/Common/SettingTypes/documentmapper.html
RecaptchaV3/App_Plugins/UmbracoForms/Backoffice/Common/SettingTypes/checkbox.html
RecaptchaV3/App_Plugins/UmbracoForms/Backoffice/Common/RenderTypes/text.html
RecaptchaV3/App_Plugins/UmbracoForms/Backoffice/Common/RenderTypes/member.html
RecaptchaV3/App_Plugins/UmbracoForms/Backoffice/Common/RenderTypes/file.html
RecaptchaV3/App_Plugins/UmbracoForms/Backoffice/Common/RenderTypes/date.html
RecaptchaV3/App_Plugins/UmbracoForms/Backoffice/Common/FieldTypes/textfield.html
RecaptchaV3/App_Plugins/UmbracoForms/Backoffice/Common/FieldTypes/textarea.html
RecaptchaV3/App_Plugins/UmbracoForms/Backoffice/Common/FieldTypes/text.html
RecaptchaV3/App_Plugins/UmbracoForms/Backoffice/Common/FieldTypes/recaptcha.html
RecaptchaV3/App_Plugins/UmbracoForms/Backoffice/Common/FieldTypes/radiobuttonlist.html
RecaptchaV3/App_Plugins/UmbracoForms/Backoffice/Common/FieldTypes/password.html
RecaptchaV3/App_Plugins/UmbracoForms/Backoffice/Common/FieldTypes/hiddenfield.html
RecaptchaV3/App_Plugins/UmbracoForms/Backoffice/Common/FieldTypes/fileupload.html
RecaptchaV3/App_Plugins/UmbracoForms/Backoffice/Common/FieldTypes/dropdownlist.html
RecaptchaV3/Views/Partials/Forms/Themes/default/Submitted.cshtml
RecaptchaV3/Views/Partials/Forms/Themes/default/ScrollToFormScript.cshtml
RecaptchaV3/Views/Partials/Forms/Themes/default/Script.cshtml
RecaptchaV3/Views/Partials/Forms/Themes/default/Render.cshtml
RecaptchaV3/Views/Partials/Forms/Themes/default/Form.cshtml
RecaptchaV3/Views/Partials/Forms/Themes/default/Fieldtypes/Fieldtype.Recaptcha2.cshtml
RecaptchaV3/Views/Partials/Forms/Themes/default/Fieldtypes/FieldType.Textfield.cshtml
RecaptchaV3/App_Plugins/UmbracoForms/Backoffice/Common/FieldTypes/datepicker.html
RecaptchaV3/App_Plugins/UmbracoForms/Backoffice/Common/FieldTypes/dataconsent.html
RecaptchaV3/App_Plugins/UmbracoForms/Backoffice/Common/FieldTypes/checkboxlist.html
RecaptchaV3/App_Plugins/UmbracoForms/Backoffice/Common/FieldTypes/checkbox.html
RecaptchaV3/App_Plugins/UmbracoForms/Backoffice/Common/FieldTypes/Recaptcha2.html
RecaptchaV3/App_Plugins/UmbracoForms/Assets/umbracoforms.js
RecaptchaV3/App_Plugins/UmbracoForms/Assets/umbracoforms-dependencies.js
RecaptchaV3/App_Plugins/UmbracoForms/Assets/umbracoforms-conditions.js
RecaptchaV3/App_Plugins/UmbracoForms/Assets/themes/default/umbracoforms.js
RecaptchaV3/App_Plugins/UmbracoForms/Assets/themes/default/style.css
RecaptchaV3/App_Plugins/UmbracoForms/Assets/pikaday/pikaday.js
RecaptchaV3/App_Plugins/UmbracoForms/Assets/pikaday/pikaday.css
RecaptchaV3/App_Plugins/UmbracoForms/Assets/moment/min/moment-with-locales.min.js
RecaptchaV3/App_Plugins/UmbracoForms/Assets/defaultform.css
RecaptchaV3/App_Plugins/UmbracoForms/Assets/datepicker.init.js
RecaptchaV3/App_Plugins/UmbracoForms/Assets/Email-Example/umbraco-logo.png
RecaptchaV3/App_Plugins/UmbracoForms/Assets/Email-Example/sample-image.jpg
RecaptchaV3/App_Plugins/UmbracoForms/Assets/BaremetricsCalendar/public/js/Calendar.js
RecaptchaV3/App_Plugins/UmbracoForms/Assets/BaremetricsCalendar/public/css/application.css
RecaptchaV3/Views/Partials/Forms/Themes/default/Fieldtypes/FieldType.Textarea.cshtml
RecaptchaV3/Views/Partials/Forms/Themes/default/Fieldtypes/FieldType.Text.cshtml
RecaptchaV3/Views/Partials/Forms/Themes/default/Fieldtypes/FieldType.RadioButtonList.cshtml
RecaptchaV3/Views/Partials/Forms/Themes/default/Fieldtypes/FieldType.PasswordField.cshtml
RecaptchaV3/Views/Partials/Forms/Themes/default/Fieldtypes/FieldType.HiddenField.cshtml
RecaptchaV3/Views/Partials/Forms/Themes/default/Fieldtypes/FieldType.FileUpload.cshtml
RecaptchaV3/Views/Partials/Forms/Themes/default/Fieldtypes/FieldType.DropDownList.cshtml
RecaptchaV3/Views/Partials/Forms/Themes/default/Fieldtypes/FieldType.DatePicker.cshtml
RecaptchaV3/Views/Partials/Forms/Themes/default/Fieldtypes/FieldType.DataConsent.cshtml
RecaptchaV3/Views/Partials/Forms/Themes/default/Fieldtypes/FieldType.CheckBoxList.cshtml
RecaptchaV3/Views/Partials/Forms/Themes/default/Fieldtypes/FieldType.CheckBox.cshtml
RecaptchaV3/Views/Partials/Forms/Themes/default/DatePicker.cshtml
RecaptchaV3/Views/Partials/Forms/Themes/bootstrap3-horizontal/Form.cshtml
RecaptchaV3/Views/Partials/Forms/Themes/bootstrap3-horizontal/Fieldtypes/FieldType.RadioButtonList.cshtml
RecaptchaV3/Views/Partials/Forms/Fieldtypes/Fieldtype.Recaptcha2.cshtml
RecaptchaV3/Views/Partials/Forms/Fieldtypes/FieldType.Textfield.cshtml
RecaptchaV3/Views/Partials/Forms/Fieldtypes/FieldType.HiddenField.cshtml
RecaptchaV3/Views/Partials/Forms/Fieldtypes/FieldType.FileUpload.cshtml
RecaptchaV3/App_Plugins/UmbracoForms/Backoffice/PropertyEditors/themepicker.html
RecaptchaV3/App_Plugins/UmbracoForms/Backoffice/PropertyEditors/formpicker.prevalues.html
RecaptchaV3/App_Plugins/UmbracoForms/Backoffice/PropertyEditors/formpicker.html
RecaptchaV3/App_Plugins/UmbracoForms/Backoffice/PreValueSource/edit.html
RecaptchaV3/App_Plugins/UmbracoForms/Backoffice/PreValueSource/delete.html
RecaptchaV3/App_Plugins/UmbracoForms/Backoffice/GridEditors/FormPicker.html
RecaptchaV3/App_Plugins/UmbracoForms/Backoffice/FormSecurity/edit.html
RecaptchaV3/App_Plugins/UmbracoForms/Backoffice/Form/workflows.html
RecaptchaV3/App_Plugins/UmbracoForms/Backoffice/Form/views/settings/settings.html
RecaptchaV3/App_Plugins/UmbracoForms/Backoffice/Form/views/design/design.html
RecaptchaV3/App_Plugins/UmbracoForms/Backoffice/Form/overlays/workflows/workflows-overview.html
RecaptchaV3/App_Plugins/UmbracoForms/Backoffice/Form/overlays/workflows/workflow-types.html
RecaptchaV3/App_Plugins/UmbracoForms/Backoffice/Form/overlays/workflows/workflow-settings.html
RecaptchaV3/App_Plugins/UmbracoForms/Backoffice/Form/overlays/workflows/submit-message-workflow-settings.html
RecaptchaV3/App_Plugins/UmbracoForms/Backoffice/Form/overlays/themepicker/themepicker.html
RecaptchaV3/App_Plugins/UmbracoForms/Backoffice/Form/overlays/formpicker/formpicker.html
RecaptchaV3/App_Plugins/UmbracoForms/Backoffice/Form/overlays/fieldtypepicker/field-type-picker.html
RecaptchaV3/App_Plugins/UmbracoForms/Backoffice/Form/overlays/fieldsettings/field-settings.html
RecaptchaV3/App_Plugins/UmbracoForms/Backoffice/Form/overlays/fieldsetsettings/fieldset-settings.html
RecaptchaV3/App_Plugins/UmbracoForms/Backoffice/Form/entries.html
RecaptchaV3/App_Plugins/UmbracoForms/Backoffice/Form/edit.html
RecaptchaV3/Views/MacroPartials/InsertUmbracoFormWithTheme.cshtml
RecaptchaV3/App_Plugins/UmbracoForms/package.manifest
RecaptchaV3/App_Plugins/UmbracoForms/lang/zh-CN.xml
RecaptchaV3/App_Plugins/UmbracoForms/lang/sv-SE.xml
RecaptchaV3/App_Plugins/UmbracoForms/lang/ru-RU.xml
RecaptchaV3/App_Plugins/UmbracoForms/lang/pt-BR.xml
RecaptchaV3/App_Plugins/UmbracoForms/lang/pl-PL.xml
RecaptchaV3/App_Plugins/UmbracoForms/lang/nl-NL.xml
RecaptchaV3/App_Plugins/UmbracoForms/Xslt/excel.xslt
RecaptchaV3/App_Plugins/UmbracoForms/Xslt/Templates/UmbracoContourListComments.xslt
RecaptchaV3/App_Plugins/UmbracoForms/Xslt/Templates/Schema2/UmbracoContourListComments.xslt
RecaptchaV3/App_Plugins/UmbracoForms/Xslt/Html.xslt
RecaptchaV3/App_Plugins/UmbracoForms/Data/Web.config
RecaptchaV3/App_Plugins/UmbracoForms/Data/Templates/contactform.json
RecaptchaV3/App_Plugins/UmbracoForms/Data/Templates/commentform.json
RecaptchaV3/Views/Partials/Forms/Fieldtypes/FieldType.DropDownList.cshtml
RecaptchaV3/Views/Partials/Forms/Fieldtypes/FieldType.DatePicker.cshtml
RecaptchaV3/Views/Partials/Forms/Fieldtypes/FieldType.DataConsent.cshtml
RecaptchaV3/Views/Partials/Forms/Fieldtypes/FieldType.CheckBoxList.cshtml
RecaptchaV3/Views/Partials/Forms/Fieldtypes/FieldType.CheckBox.cshtml
RecaptchaV3/Views/Partials/Forms/Export/excel.cshtml
RecaptchaV3/Views/Partials/Forms/Emails/Example-Template.cshtml
RecaptchaV3/Views/MacroPartials/RenderUmbracoFormScripts.cshtml
RecaptchaV3/App_Plugins/UmbracoForms/css/umbraco.forms.css
RecaptchaV3/App_Plugins/UmbracoForms/Xslt/xml.xslt
RecaptchaV3/App_Plugins/UmbracoForms/Xslt/sendXsltEmailSample.xslt
RecaptchaV3/App_Plugins/UmbracoForms/Xslt/postAsXmlSample.xslt
RecaptchaV3/App_Plugins/UmbracoForms/Xslt/DataTables_json_medtrust.xslt
RecaptchaV3/App_Plugins/UmbracoForms/Xslt/DataTables_json.xslt
RecaptchaV3/App_Plugins/UmbracoForms/UmbracoForms.config
RecaptchaV3/Views/Partials/Forms/Fieldtypes/FieldType.Textarea.cshtml
RecaptchaV3/Views/Partials/Forms/Fieldtypes/FieldType.Text.cshtml
RecaptchaV3/Views/Partials/Forms/Fieldtypes/FieldType.RadioButtonList.cshtml
RecaptchaV3/Views/Partials/Forms/Fieldtypes/FieldType.PasswordField.cshtml
RecaptchaV3/App_Plugins/UmbracoForms/lang/nb-NO.xml
RecaptchaV3/App_Plugins/UmbracoForms/lang/ko-KR.xml
RecaptchaV3/App_Plugins/UmbracoForms/lang/ja-JP.xml
